@tailwind components;
@tailwind utilities;

:root {
  --text-color: #6f6f6f;
  --title-color: #4f4f4f;
  --disabled-title: #c9c9c9;
  --navbar-link: #111d27;
  --big-desc: #373737;
  --body-bg: #f3f3f3;
  --card-bg: #fcfcfc;
  --shadow: 0 0 24px rgba(155, 201, 255, 0.24);
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: 0px 0px 2px blue;
}

a {
  display: inline-block;
  cursor: pointer;
}

.stories-button:first-child,
.workflow-card:first-child {
  margin-left: 0;
}

.stories-button:last-child,
.workflow-card:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
